@use "variables.scss";

.advantages__wrapper {
  position: relative;
  background-color: #ffffff;
}

.advantages__wrapper--blue {
  background-color: #80b2d1;
}

.advantages__container {
  text-align: center;
  margin: 0 auto;
  padding: 54px 0 40px 0;
  max-width: 282px;
  color: #ffffff;
}

.advantages__line {
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 57px;
  background-image: url("../img/triangle-down.svg");
  background-repeat: no-repeat;
}

.advantages__container--mini {
  padding: 39px 0 35px 0;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 11px;
}

.advantages__number {
  margin: 0;
  margin-bottom: 17px;
}

.advantages__description {
  margin: 0;
}

.advantages__photo {
  display: block;
}

.advantages__list {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 23px 0 52px 0;
  max-width: 284px;
  list-style-type: none;
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 22px;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__icon {
  width: 40px;
  height: 40px;
}

.advantages__title--list {
  margin: 0;
  margin-left: 7px;
}

.advantages__description--list {
  margin-left: 47px;
  padding-top: 10px;
}

.advantages__description--long {
  width: 250px;
}

.advantages__wrapper--long {
  background-color: #eeeeee;
}

.advantages__list--long {
  padding: 26px 0;
}

.advantages__item--long {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 24px 0;
  border-bottom: 1px solid #d6d6d6;
  box-sizing: border-box;
}

.advantages__item--long:first-child {
  padding-top: 0;
}

.advantages__item--long:last-child {
  padding-bottom: 0;
  border: none;
}

.advantages__description br {
  display: none;
}

@media (min-width: variables.$tablet-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .advantages__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .advantages__container {
    max-width: 192px;
    padding: 0;
  }

  .advantages__line {
    display: none;
  }

  .advantages__container--mini {
    order: 1;
  }

  .advantages__number {
    margin-bottom: 26px;
  }

  .advantages__photo {
    width: 512px;
    height: 256px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    min-width: 768px;
    margin: 0;
    padding: 57px 0 59px 0;
  }

  .advantages__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 193px;
    margin: 0;
  }

  .advantages__icon--tablet {
    width: 75px;
    height: 75px;
    margin-bottom: 26px;
  }

  .advantages__title--list {
    margin: 0;
    margin-bottom: 24px;
  }

  .advantages__description--list {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .advantages__description--tablet {
    width: 155px;
  }

  .advantages__description--long {
    width: 180px;
  }

  .advantages__description--middle {
    width: 140px;
  }

  .advantages__list--long {
    padding: 42px 0 41px 0;
  }

  .advantages__item--long {
    padding: 0;
    border: none;
  }

  .advantages__title {
    font-size: 21px;
    line-height: 26px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: variables.$desktop-width) {
  .advantages__container {
    max-width: 290px;
  }

  .advantages__photo {
    width: 800px;
  }

  .advantages__list {
    padding: 57px 0 80px 0;
    min-width: 1200px;
  }

  .advantages__item {
    max-width: 313px;
  }

  .advantages__list--long {
    padding: 42px 0 61px 0;
  }

  .advantages__description {
    width: 282px;
  }

  .advantages__description br {
    display: inline-block;
  }

  .advantages__description--long {
    width: 290px;
  }

  .advantages__description--middle {
    width: 275px;
  }

}
