.advantages__wrapper {
  background-color: #ffffff;
}

.advantages__container {
  background-color: #80b2d1;
  color: #ffffff;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
