@use "variables.scss";

.contact {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
}

.contact__title-right {
  margin-bottom: 15px;
}

@media (min-width: variables.$tablet-width) {
  .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contact__title {
    margin-left: 20px;
  }

  .contact__title-right {
    margin-left: 0;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .contact__item {
    margin-left: auto;
  }
}

@media (min-width: variables.$desktop-width) {
  .contact__title {
    margin-left: 30px;
  }

  .contact__title-right {
    width: 465px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 23px;
  }
}
