@use "variables.scss";

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.copyright__link {
  width: 27px;
  height: 34px;
}
