@use "variables.scss";

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #81b3d2;
    fill: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
    fill: #b3b3b3;
  }
}

.copyright__icon {
  margin-left: 15px;
  width: 27px;
  height: 34px;
}

@media (min-width: variables.$tablet-width) {
  .copyright__text {
    padding-left: 8px;
    padding-bottom: 5px;
  }
}

@media (min-width: variables.$desktop-width) {
  .copyright__text {
    padding: 0;
  }
}
