@use "variables.scss";

.description__wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 282px;
  margin-bottom: 32px;
  background-color: #ffffff;
}

.description__slogan {
  width: 270px;
  margin: 0;
  margin-bottom: 35px;
}

.description__reasons {
  margin: 0;
}

.description__wrapper--form {
  margin-bottom: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}

.description__title {
  margin: 0;
  margin-bottom: 24px;
}

.description__wrapper--catalog {
  margin-bottom: 65px;
}

@media (min-width: variables.$tablet-width) {
  .description__slogan br {
    display: none;
  }

  .description__wrapper {
    max-width: 520px;
    margin-bottom: 58px;
  }

  .description__slogan {
    width: 440px;
    font-size: 21px;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
  }

  .description__wrapper--form {
    max-width: 435px;
    padding: 0;
    margin-bottom: 102px;
    border: none;
  }

  .description__wrapper--catalog {
    width: 430px;
    margin-bottom: 83px;
  }

  .description__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .description__title--form {
    margin-bottom: 20px;
  }

  .description__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
}

@media (min-width: variables.$desktop-width) {
  .description__wrapper {
    margin-bottom: 90px;
  }

  .description__wrapper--form {
    margin-bottom: 63px;
  }

  .description__title {
    margin-bottom: 30px;
  }

  .description__wrapper--index {
    margin-bottom: 43px;
  }
}
