@use "variables.scss";

.emotions__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.emotions__description {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 56px;
  padding: 16px;
  width: 100%;
  height: 150px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

@media (min-width: variables.$tablet-width) {
  .emotions__description {
    width: 648px;
    height: 160px;
    margin-bottom: 0;
  }

  .emotions__title {
    margin-bottom: 30px;
  }

  .emotions__title::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    height: 1px;
    width: 123px;
    background-color: #e5e5e5;
  }

  .emotions__title::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 0;
    height: 1px;
    width: 123px;
    background-color: #e5e5e5;
  }
}

@media (min-width: variables.$desktop-width) {
  .emotions__description {
    width: 768px;
  }

  .emotions__title::before {
    width: 280px;
  }

  .emotions__title::after {
    width: 280px;
  }
}
