@use "variables.scss";

.feedback {
  background-color: #ffffff;
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.feedback__item {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feedback__item--introduce {
  position: relative;
  padding-bottom: 39px;
  border-bottom: 1px solid #e6e6e6;
}

.feedback__item--contact {
  padding-bottom: 34px;
  border-bottom: 1px solid #e6e6e6;
}

.feedback__item--impressions {
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
}

.feedback__item--visited {
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: variables.$tablet-width) {
  .feedback__form {
    max-width: 648px;
    margin-bottom: 0;
  }

  .feedback__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  .feedback__item {
    border: none;
    padding: 0;
    margin-bottom: 48px;
  }

  .feedback__item--introduce::before {
    content: "";
    position: absolute;
    top: -54px;
    right: -43px;
    height: 338px;
    width: 1px;
    background-color: #e5e5e5;
  }

  .feedback__item--visited {
    margin-bottom: 26px;
  }

  .feedback__item--send {
    margin-bottom: 64px;
  }
}

@media (min-width: variables.$desktop-width) {
  .feedback__form {
    max-width: 960px;
  }

  .feedback__wrapper {
    margin-bottom: 16px;
  }

  .feedback__item {
    margin-bottom: 56px;
  }

  .feedback__item--introduce::before {
    top: -54px;
    right: -63px;
    height: 338px;
    width: 1px;
  }

  .feedback__item--impressions {
    margin-bottom: 75px;
  }

  .feedback__item--emotions {
    margin-bottom: 48px;
  }

  .feedback__item--visited {
    margin-bottom: 70px;
  }
}
