@use "variables.scss";

.field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 14px;
}

.field:last-child {
  margin-bottom: 0;
}

.field__name {
  margin-left: 16px;
}

.field__input {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  outline: none;
  outline-offset: 0;
  box-sizing: border-box;

  &:hover {
    background-color: #e5e5e5;
    color: #000000;
  }

  &:focus {
    background-color: #ffffff;
    outline: 4px solid #f2f2f2;
  }
}

.field__input[disabled] {
  opacity: 0.5;
}

.field__input--transparent {
  color: #0000004d;
}

.field__icon-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.field__icon {
  fill: #010101;
}

@media (min-width: variables.$tablet-width) {
  .field {
    width: 280px;
  }
}

@media (min-width: variables.$desktop-width) {
  .field {
    width: 430px;
  }

  .field--contact-desktop {
    width: 403px;
  }
}
