.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.social__item {
  display: block;
  max-width: 48px;
  max-height: 48px;
  background-color: #81b3d2;
}
