.main-nav {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(203, 47%, 66%);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
