@use "variables.scss";

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 29px 0;
  background-color: #ffffff;
}

.main-footer__contacts {
  margin-bottom: 34px;
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.main-footer__social {
  margin-bottom: 40px;
}

.copyright__text {
  margin: 0;
}

@media (min-width: variables.$tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 0;
    margin-left: auto;
    margin-right: auto;
    width: 648px;
  }

  .main-footer__contacts {
    margin: 0;
  }

  .main-footer__social {
    margin: 0;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-footer__wrapper {
    width: 1200px;
  }

  .main-footer__contacts {
    margin: 0;
    margin-left: 120px;
    margin-right: auto;
  }

  .main-footer__copyright {
    margin-left: auto;
    margin-right: 120px;
  }
}
