@use "variables.scss";

.map {
  background-color: #ffffff;
}

.map iframe {
  display: block;
  border: none;
}

@media (min-width: variables.$tablet-width) {
  .map iframe {
    width: 768px;
  }
}

@media (min-width: variables.$desktop-width) {
  .map iframe {
    width: 1200px;
  }
}
