@use "variables.scss";

.page {
  max-width: 320px;
  height: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #e6e6e6;
}

.page__body {
  background-color: #ffffff;
  margin: 0;
}

@media (min-width: variables.$tablet-width) {
  .page {
    max-width: 768px;
  }
}

@media (min-width: variables.$desktop-width) {
  .page {
    max-width: 1200px;
  }
}
