@use "variables.scss";

.production__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
  background-color: #ffffff;
}

.production__title {
  margin: 0;
  margin-bottom: 30px;
}

.production__text {
  margin: 0;
  margin-bottom: 36px;
  text-align: center;
}

.production__wrapper-video {
  position: relative;
}

.production__image {
  display: block;
  width: 280px;
  height: 177px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.production__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 54px;
  background-image: url("../img/playvideo.svg");
  background-repeat: no-repeat;
}

@media (min-width: variables.$tablet-width) {
  .production__wrapper {
    width: 648px;
    margin-bottom: 40px;
  }

  .production__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 31px;
  }

  .production__text {
    width: 450px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 88px;
    text-align: center;
  }

  .production__image {
    width: 648px;
    height: 500px;
  }
}

@media (min-width: variables.$desktop-width) {
  .production__wrapper {
    width: 800px;
    margin-bottom: 84px;
  }

  .production__image {
    width: 800px;
  }
}
