@use "variables.scss";

.send__name {
  font-size: 12px;
  margin: 0;
  text-align: right;
}

.send-button {
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: variables.$tablet-width) {
  .send {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .send-button {
    width: 324px;
  }
}

@media (min-width: variables.$desktop-width) {
  .send {
    width: 768px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 64px;
  }
}
