@use "variables.scss";

.send__name {
  font-size: 12px;
}

@media (min-width: variables.$tablet-width) {
  .send {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: variables.$desktop-width) {
  .send {
    width: 768px;
    justify-content: space-between;
    margin: 0 auto;
  }
}
