@use "variables.scss";

.send__name {
  font-size: 12px;
  margin: 0;
  margin-top: 2px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
}

.send-button {
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: variables.$tablet-width) {
  .send__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    color: #333333;
  }

  .send {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .send-button {
    padding-right: 60px;
    width: 324px;
  }
}

@media (min-width: variables.$desktop-width) {
  .send {
    width: 768px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 64px;
  }

  .send-button {
    padding: 18px 71px 14px 58px;
    width: 384px;
  }

  .send__name {
    padding-top: 10px;
  }
}
