@use "variables.scss";

.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    .social__icon {
      fill: rgb(255, 255, 255, 0.3);
    }
  }
}

.social__icon {
  fill: #ffffff;
}

@media (min-width: variables.$tablet-width) {
  .social__list {
    display: flex;
    flex-wrap: wrap;
  }
}
