@use "variables.scss";

.visited__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.visited__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visited__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 46px;
  margin-bottom: 16px;
}

.visited__item:last-child {
  margin-bottom: 0;
}

.visited__item-wrapper {
  position: relative;
  display: block;
  padding-left: 62px;
}

.visited__title {
  margin-bottom: 20px;
}

.visited__mark {
  position: absolute;
  top: -9px;
  left: 0;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 4px;
}

.visited__item-wrapper:hover .visited__mark {
  background-color: #e5e5e5;
}

.visited__field:focus + .visited__mark {
  background-color: #d6d6d6;
  opacity: 30%;
}

.visited__field[type="checkbox"]:checked + .visited__mark::before {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: 13px;
  width: 25px;
  height: 25px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
}

@media (min-width: variables.$tablet-width) {
  .visited__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
  }

  .visited__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 224px;
  }

  .visited__title {
    margin-bottom: 30px;
  }

  .visited__title::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    height: 1px;
    width: 123px;
    background-color: #e5e5e5;
  }

  .visited__title::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    height: 1px;
    width: 123px;
    background-color: #e5e5e5;
  }
}

@media (min-width: variables.$desktop-width) {
  .visited__list {
    justify-content: flex-start;
    max-width: 960px;
    margin-left: 44px;
    gap: 50px;
  }

  .visited__title {
    margin-bottom: 57px;
  }

  .visited__item {
    width: 184px;
  }

  .visited__title::before {
    width: 280px;
  }

  .visited__title::after {
    width: 280px;
  }
}
