.welcome {
  min-height: 389px;
  background-image: url("../../img/welcome-background.jpg");
  background-size: 320px 389px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  color: #333333;
}
