@use "variables.scss";

.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 389px;
  margin-bottom: 32px;
  background-image: url("../img/welcome-background.jpg");
  background-size: 320px 389px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #333333;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/welcome-background@2x.jpg");
  }
}

.welcome--other-pages {
  min-height: 158px;
  margin-bottom: 36px;
  background-image: url("../img/welcome-background-other.jpg");
  background-position: bottom;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/welcome-background-other@2x.jpg");
  }
}

.welcome__logo--other-pages {
  padding-bottom: 15px;
}

.welcome__line {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 57px;
  background-image: url("../img/triangle-mobile.svg");
  background-repeat: no-repeat;
}

@media (min-width: variables.$tablet-width) {
  .welcome {
    min-height: 518px;
    margin-bottom: 47px;
    background-image: url("../img/welcome-background-tablet.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-background-tablet@2x.jpg");
    }
  }

  .welcome--other-pages {
    min-height: 290px;
    margin-bottom: 66px;
    background-image: url("../img/welcome-background-other-tablet.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-background-other-tablet@2x.jpg");
    }
  }

  .welcome__logo {
    width: 461px;
    height: 350px;
  }

  .welcome__logo--other-pages {
    width: 457px;
    height: 78px;
  }

  .welcome__line {
    background-image: url("../img/triangle-tablet.svg");
  }
}

@media (min-width: variables.$desktop-width) {
  .welcome {
    margin-bottom: 115px;
    background-image: url("../img/welcome-background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-background-desktop@2x.jpg");
    }
  }

  .welcome--other-pages {
    min-height: 300px;
    background-image: url("../img/welcome-background-other-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-background-other-desktop@2x.jpg");
    }
  }

  .welcome__logo {
    width: 460px;
  }

  .welcome__logo--other-pages {
    width: 460px;
    height: 80px;
  }

  .welcome--catalog {
    margin-bottom: 100px;
  }

  .welcome__line {
    background-image: url("../img/triangle-desktop.svg");
  }
}
